{% extends 'app1/base.html' %}

{%block title_pagina %}
<title>Crear persona</title>
{% endblock title_pagina %}

{% block contenido %}
<form action={% url 'Crear'%} method="POST">
    {% csrf_token %}
    <p>
        <label for="nombre"></label>
        <input type="text" name="nombre" placeholder="Ingrese nombre" autocomplete="off">
    </p>
    <p>
        <label for="apellido"></label>
        <input type="text" name="apellido" placeholder="Ingrese apellido" autocomplete="off">
    </p>
    <button>Crear</button>
</form>
{% endblock contenido %}

