{% extends 'app1/base.html' %}

{%block title_pagina %}
<title>Sobre nosotras</title>
{% endblock title_pagina %}

{% block contenido %}

<h2>Sobre nosotras</h2>

<p>
    &#161;Hola! &#161;Bienvenidos! Somos Pao y Fabi, dos amigas que nos conocemos hace 12 a&#241;os. Pao es Licenciada en Matem&#225;tica y Fabi es Licenciada en Administraci&#243;n. 
    Hace unos a&#241;os decidimos emprender juntas en el mundo de la programaci&#243;n, y nos animamos! Nuestro amor por los animales nos 
    impuls&#243; a crear esta p&#225;gina, donde van a poder compartir animales en adopci&#243;n y entre todos encontrarles un hogar! &#191;Nos acompa&#241;an?
</p><br>
{% endblock contenido %}