{% extends 'app1/base.html' %}

{%block title_pagina %}
<title>Ver</title>
{% endblock title_pagina %}

{% block contenido %}
<a class="navbar-brand" href={% url 'Crear' %}>Crear</a>
<p>Listado de mascotas: </p>

<form action={% url 'Ver'%} method="GET">

    {{formulario}}

    <button>Buscar</button>
</form>
<p>
    {% if mascotas %}

        {% for mascota in mascotas%}

        <li>
        {{mascota}} 
        {% comment %} <a class="navbar-brand" href={% url 'editar_mascota' mascota.id %}>Editar</a>
        <a class="navbar-brand" href={% url 'eliminar_mascota' mascota.id %}>Eliminar</a> {% endcomment %}
        <li>
            
        {% endfor %}

    {% else%}
    
        <p> No se encontraron resultados</p>

    {% endif%}

</p>
{% endblock contenido %}

