{% extends 'app1/base.html' %}

{%block title_pagina %}
<title>Ver</title>
{% endblock title_pagina %}

{% block contenido %}
<a class="navbar-brand" href={% url 'Crear' %}>Crear</a>
<p>Listado de personas: </p>

<form action={% url 'Ver'%} method="GET">

    {{formulario}}

    <button>Buscar</button>
</form>
<p>
    {% if personas %}

        {% for persona in personas%}

        <li>
        {{persona}} 
        <a class="navbar-brand" href={% url 'editar_persona' persona.id %}>Editar</a>
        <a class="navbar-brand" href={% url 'eliminar_persona' persona.id %}>Eliminar</a>
        <li>
            
        {% endfor %}

    {% else%}
    
        <p> No se encontraron resultados</p>

    {% endif%}

</p>
{% endblock contenido %}

