{% extends 'app1/base.html' %}

{%block title_pagina %}
<title>Ver mascota</title>
{% endblock title_pagina %}


{% block contenido %}
<a class="navbar-brand" href={% url 'Crear' %}>Crear mascota</a>
<p>Listado de mascotas: </p>

<form action={% url 'Ver'%} method="GET">
    {{formulario}}
    <button>Buscar</button>
</form>
<p>
    {% if object_list %}

        {% for mascota in object_list%}
            <li>
                {{mascota}}
                <a  href={% url 'Editar' mascota.id %}>Editar</a>
                <a  href={% url 'Eliminar' mascota.id %}>Eliminar</a>
            <li>
        {% endfor %}

    {% else %}
    
        <p> No se encontraron resultados</p>

    {% endif%}

</p>
{% endblock contenido %}

